<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fussionv3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Convert.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity android:name=".CatatanEditActivity"></activity>
        <activity
            android:name=".CatatanAddActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".CatatanListActivity"
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity
            android:name=".HomeScreenActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".TopicDetailActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".TopicEditActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".TopicListUserActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".TopicAddActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".CategoryAddActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".DashboardAdminActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".DashboardUserActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Neumorph.Light.DarkActionBar" />
    </application>

</manifest>